/* * {
     outline: 1px solid tomato;
 } */

.header {
    position: sticky;
    z-index: 999;
    line-height: 120px;
    background: #fff;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.header .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header img {
    width: 250px;
}

.header .gnb .txt a {
    /* font-weight: 500; */
    color: #ff9901;
}

.header .gnb .submenu a {
    font-weight: 400;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    margin: 0 0 0 110px;
}

.header .gnb>ul>li {
    position: relative;
    margin: 0 10px;
}

.header .gnb>ul>li>a {
    display: block;
    position: relative;
    font-size: 16px;
    color: #333;
}

.header .gnb>ul>li~li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #ddd;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
}

.header .gnb>ul>li .submenu {
    position: absolute;
    top: 90px;
    left: 50%;
    text-align: center;

    display: none;

    background: #fff;
    border: 1px solid #ddd;
    line-height: 35px;

    font-size: 15px;

    transform: translate(-50%, 0);

    width: 150px;
    border-radius: 5px;
}

.header .gnb>ul>li .submenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    transform: translate(-50%, 0) rotate(45deg);
}

.header .gnb>ul>li:hover .submenu {
    display: block;
}

.header .gnb>ul>li:hover .submenu a {
    color: #333;
    font-size: 15px;
}

.header .gnb>ul>li .submenu li~li a {
    border-top: 1px solid #ddd;
    padding: 4px 0;
}

.header .gnb>ul>li .submenu li {
    position: relative;
    background: #fff;
    border-radius: 10px;
}




.header .right {
    margin: 0 auto;
    font-size: 20px;
    line-height: 120px;
}



.mainVisual .mainSlide figure {
    position: relative;
    height: 500px;
    translate: 0.3s;
}

.mainVisual .mainSlide .itm01 {
    background: url(../img/main01.jpg) no-repeat center center;
    background-color: #f5f5f5;
    top: 0;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main02.jpg) no-repeat center center;
    background-color: #f5f5f5;
    top: 0;
}


.mainVisual .mainSlide .itm03 {
    background: url(../img/main03.jpg) no-repeat center center;
    background-color: #f5f5f5;
    top: 0;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #ddd;
    margin: -12px 6px;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #ff9901;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;

    font-size: 0;

    width: 50px;
    height: 50px;

    border-top: 10px solid #ddd;
    border-left: 10px solid #ddd;
}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 50px 0 0 -700px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 40px 0 0 700px;
}

.mainContent {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.mainContent h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-align: center;
}

.mainContent p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 40px 0;
    text-align: center;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainContent .inner figure {
    flex: 1;
    text-align: center;
    margin: 0 0 30px 0;
    background: #ddd;
    border-radius: 50%;
    width: 130px;
    height: 180px;
}

.mainContent figure {
    position: relative;
}

.mainContent figure img {
    width: 60%;
}

.mainContent .inner .f1 strong {
    margin: 32px 0 8px 0;
}

.mainContent .inner .f1 a {
    margin: 10px 0 0 0;
}

.mainContent .inner .f2 strong {
    margin: 32px 0 8px 0;
}

.mainContent .inner .f2 a {
    margin: 10px 0 0 0;
}

.mainContent .inner .f3 strong {
    margin: 32px 0 8px 0;
}

.mainContent .inner .f3 a {
    margin: 10px 0 0 0;
}

.mainContent .inner .f4 strong {
    margin: 32px 0 8px 0;
}

.mainContent .inner .f4 a {
    margin: 10px 0 0 0;
}

.mainContent .img_box {
    margin: 0 0 20px 0;
}

.mainContent .img_box .service {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    display: flex;
    transition: 0.3s;
}

.mainContent .img_box img {
    transition: 0.3s;
    border: 1px solid #ddd;
}

.mainContent .img_box:hover img {
    transform: scale(1.2, 1.2);
    background-color: #38383873
}

.mainContent strong {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.mainContent a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    border-top: 1px solid #444444ab;
    border-bottom: 1px solid #444444ab;
    border-left: 1px solid #444444ab;
    border-right: 1px solid #444444ab;
    color: #444444ab;
    margin: 0 0 20px 0;
}

.mainContent a:hover {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    background: #ff9901;

    border-top: 1px solid #ff9901;
    border-bottom: 1px solid #ff9901;
    border-left: 1px solid #ff9901;
    border-right: 1px solid #ff9901;
    color: #fff;
    margin: 0 0 20px 0;
}


.mainBanner {
    padding: 50px 0 0 0;
}

.mainBanner .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.mainBanner .left img {
    display: inline-block;
    width: 590px;
    height: 150px;
    border-radius: 1%;
}

.mainBanner .right img {
    display: inline-block;
    width: 590px;
    height: 150px;
    border-radius: 1%;
}


.mainIcon {
    padding: 100px 0;
    width: 1200px;
    margin: 0 auto;
}

.mainIcon .inner {
    position: relative;
    display: flex;
    text-align: center;
    word-break: keep-all;
    background: #fff;
    padding: 30px 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 20px 5px 80px 5px;
}

.mainIcon .inner .itm {
    width: 100px;
    height: 100px;
    background: rgb(245, 245, 245);
    border-radius: 50%;
    margin: 0 auto;
}

.mainIcon .inner .itm figure {
    flex: 1;
    transform: translate(-5%, -5%);
}


.mainIcon .inner figure img {
    position: relative;
    width: 110%;
}

.mainIcon .inner .itm {
    width: 100px;
    height: 100px;
    background: rgb(245, 245, 245);
    border-radius: 50%;
    margin: 0 auto;
}

.mainIcon .inner .itm:hover {
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 auto;
}

.mainIcon h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-align: center;
}

.mainIcon>p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 40px 0;
    text-align: center;
}

.mainIcon .itm p {
    position: absolute;
    width: 100px;
    margin: 5px 0;
    font-size: 1;
    color: #444444;
    line-height: 20px;
    font-size: 15px;
}




.maincon {
    padding: 150px 0 200px 0;
    background: #fafafa;
}

.maincon .inner {
    display: flex;
    gap: 2px;
    width: 1200px;
    margin: 0 auto;
}

.maincon .inner figure {
    position: relative;
    flex: 1;
    height: 150px;
    transition: 0.5s;
    border-radius: 0;
}

.maincon .inner .itm01 {
    background: url(../img/maincon01.jpg) no-repeat center center/cover;
    top: -150px;
}

.maincon .inner .itm02 {
    background: url(../img/maincon02.jpg) no-repeat center center/cover;
    top: -150px;
}

.maincon .inner figure .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 15px;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;

    opacity: 1;

    transition: 0.5s;
}


.maincon .inner .over h3 {
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #fff;
    margin: 0 0 0px 0;
}

.maincon .inner .over p {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    word-break: keep-all;
    margin: 10px 0;
}

.maincon .in01 {
    display: flex;
    flex: 1;
    margin: -120px 0;
    gap: 20px;
    text-align: center;
}

.maincon .in02 {
    display: flex;
    flex: 1;
    margin: -120px 0;
    gap: 20px;
    text-align: center;
}

.maincon .inner figure img {
    height: 200px;
    width: 120px;
}

.maincon .in01 strong {
    display: block;
    text-align: center;
    margin: 25px 0 5px 0;
}

.maincon .in02 strong {
    display: block;
    text-align: center;
    margin: 25px 0 5px 0;
}

.maincon a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    border-top: 1px solid #444444ab;
    border-bottom: 1px solid #444444ab;
    border-left: 1px solid #444444ab;
    border-right: 1px solid #444444ab;
    color: #444444ab;
    margin: 10px 0 20px 0;
}

.maincon a:hover {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    background: #ff9901;

    border-top: 1px solid #ff9901;
    border-bottom: 1px solid #ff9901;
    border-left: 1px solid #ff9901;
    border-right: 1px solid #ff9901;
    color: #fff;
    margin: 10px 0 20px 0;
}






.mainNews {
    padding: 100px 0 150px 0;
}

.mainNews .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainNews figure {
    flex: 1;
}

.mainNews h2 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-align: center;
}

.mainNews P {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 40px 0;
    text-align: center;
}

.mainNews .inner figure strong {
    color: #ff9901;
}

.mainNews figure img {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 0 20px 0;
    border-radius: 10%;
}

.mainNews figure a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    top: 30px;
    margin: 0 0 80px 0;
}

.mainNews figure a:hover {
    font-size: 16px;
    color: #ff9901;
    line-height: 20px;
    top: 35px;
}

.mainNews figure a::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    background: #ff9901;
    width: 57px;
    height: 2px;
}

.mainNews em {
    position: absolute;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    left: 870px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding: 18px 20px;
}

.mainNews em a {
    color: #333;
}

.mainNews em:hover {
    font-size: 16px;
    background: #f1f1f1;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
}




#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
}

#toTop i {
    background: #ff9901;
    color: white;
    font-size: 26px;
    padding: 15px;
}


.footer {
    background: #f1f1f1;
    border-top: 1px solid #fff;
    padding: 40px 0;
    text-align: center;
}

.footer .inner {
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0 0 0;
}

.footer .top {
    line-height: 30px;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

.footer .list li a {
    color: rgb(161, 161, 161);
    font-size: 15px;
    font-weight: 400;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    /* vertical-align: -1px; */
}

.footer .bottom {
    line-height: 20px;
}

.footer .bottom address {
    color: rgb(161, 161, 161);
    width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 13px;
    border-top: 1px solid #ddd;
    padding: 20px 0 30px 0;
}